@inject AppState state
@inject IGraphService graphService

@if(Item.IsFolder()) {
    <a class="panel-block" @onclick="@(() => SelectItem(Item))">
        <i class="oi oi-folder has-text-primary"></i> @Item.Name
        <span class="folder-files-tag tags has-addons">
            <span class="tag">files</span>
            <span class="folder-files-count tag is-primary">@Item.Folder.ChildCount</span>
        </span>
    </a>
} else {
    <a class="panel-block @(state.SelectedFile?.Id == Item.Id ? "is-active" : "")" @onclick="@(() => SelectItem(Item))">
        <span class="panel-icon">
            <i class="oi oi-file has-text-info"></i>
        </span>
        @Item.Name
        <div class="tags-right">
            @if (Item.Shared != null)
            {
                <span class="tag share-tag is-info">
                    shared
                </span>
            }
            <span class="file-size-tag tag is-light">
                @Format.FormatFileSize(Item.Size)
            </span>
        </div>
    </a>
}

@code {
    [Parameter]
    public W8lessLabs.GraphAPI.DriveItem Item { get; set; }

    void SelectItem(W8lessLabs.GraphAPI.DriveItem item)
    {
        if (!state.InProgress)
        {
            if (item.IsFolder())
            {
                // is a folder
                state.PushFolder(item);
            }
            else
            {
                state.SelectFile(item);
            }
        }
    }
}
